/* Imported Fonts */
.anek-bangla-anek {
    font-family: "Anek Bangla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .nunito-nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
/* Main Styling */
* {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;
    /* height: 85dvh; */
    background-color: white;
    min-height: 85vh;
    /* background-color: #111; */
}
main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}
main > img {
    
    width: 35dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3em;
}
main > * {
    margin: 0.5em;
}
main > p {
    font-family: "Nunito";
    font-size: large;
    margin: 1em;
    /* margin: 1dvw; */
}
/* Header 1 */
h1 {
    font-family: "Anek Bangla";
    font-size: x-large;
}
/* Navigation Bar Component */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    max-width: 100%;
    height: 10dvh;
    font-size: large;
}
nav {
    /* background-color: #420217; */
    /* color: #420217; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    font-size: medium;
}
#selectednav {
    color: #7A75FF;
}
nav > a:hover {
    transform: scale(1.5);
    color: #7A75FF;
}
nav > a {
    text-decoration: none;
    font-family: "Nunito";
    color: white;
    size: 5dvw;
    min-width: 5dvw;
    transition: all .5s ease-in-out;
    margin: 1em;
}
.navheading {
    margin-top: 1.5em;
    font-size: xx-large;
}
.selectedpage {
    color: #4444dd;
}
/* Button Component */
button {
    background-color: black;
    color: white;
    
    border: none;
    font-family: "Anek Bangla";
    font-size: large;
    margin-top: 8dvh;
    margin: 0%;
}
.button {
    margin: 4dvh;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-style: none;
    /* margin: .5em; */
    padding: .4em;
    border-radius: .5em;
    font-family: "Nunito";
    transition: all .5s ease-in-out;
    animation-name: example;
    animation-duration: 2s;
    font-size: large;
    font-style: bold;
}
.button:hover {
    /* transform: scale(1.2); */
    background-color: #7A75FF;
}
.examplebutton {
    margin-top: 5em;
    margin-bottom: 5em;
}
.link {
    margin: 1em;
    display: flex;
    width: 4dvw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(w);
    padding: .25em;
    border-radius: 50%;
    font-size: 1em;
}
/* LinkIn and GitHub  */
.logo {
    display: flex;
    float: left;
    width:  10dvw;
}
.linkedin {
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-top: 1dvh;
    margin: .5em;
    margin-bottom: 1em;
    height: 6dvh;
}
.hi {
    margin: 0%
}
/* Projects component */
.projects {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5em;
    border: .2em solid #000000;
    border-radius: 2em;
    padding: 01em;
    margin: 1.5em;
    row-gap: 1em;
}
.projectimg {
    margin: 1em;
    border: 2px solid black;
    filter: drop-shadow(3px 10px 4px #7A75FF);
    transition: all .5s ease-in-out;
}
.projectimg:hover {
    transform: scale(1.1);
}
.projectslayout > .projects {
    column-gap: 1em;
    font-family: "Nunito";
    transition: 1s;
}
.projectslayout {
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}
.projects:hover {
    border-radius: 0;
}
.itlist {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
/* Footer component */
footer > p {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 5dvh;
    color:white;
    font-family: "Anek Bangla";
    position: absolute;
    width: 100dvw;
}
/* Blogs component */
.box {
    display: flex;
    flex-direction: column;
    
}
.blogimg {
    
    margin: 1em;
    border: 2px solid black;
    filter: drop-shadow(3px 10px 4px #7A75FF);
    transition: all .5s ease-in-out;

}
.blogimg:hover {
    transform: scale(1.1);
}
.blogsection {
    transition: 1s;
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Nunito";
    max-width: 50em;
    min-width: 5em;
    border: .2em solid #000000;
    border-radius: 2em;
    padding: 01em;
    margin: 1.5em;
    row-gap: 1em;
    /* background-color: rgb(178, 152, 250, 0.5); */
    filter: drop-shadow(1em 1em 5px, #7A75FF);
    
/* Blog image component */
}
.blogsection:hover {
    border-radius: 0;
}
.blogimages {
    border-radius: 0;
    width: 50%;
    margin: 1em;
}
/* Headings 2 and 3 */
h2 {
    font-family: "Anek Bangla";
    margin-bottom: 1em;
    margin-top: 1em;
}
h3 {
    font-family: "Anek Bangla";
    margin-top: 1em;
}
/* About me */
.aboutmepara {
    font-family: "Nunito";
    padding: 1em;
    max-width: 40em;
}
.aboutmepara {
    margin: 2em;
}
.description {
    font-size: small;
    align-items: left;
    margin-top: 0%;
}

/* Education section */
.education {
    align-items: left;
    text-align: left;
}
.educationheading {
    margin-top: 2em;
}
.alignleft {
    display: flex;
    flex-direction: row;
    text-justify: left;
    max-width: 50%;
}
/* Skills List component */
.skills {
    float: left;
    justify-content: left;
    align-items: left;
    margin: 4em;
    text-justify: left;
    
}
.skills {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}
.skillbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 20%;
}
.skilllist {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 20%;
}
.itlist > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.itlist {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: "Nunito";
}
/* Resume */
.resume {
    margin-bottom: 4em;
}
/* Contact */
address {
    margin-top: 10%;
    margin-bottom: 10%;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: "Nunito";
}
.lookingforward {
    margin-bottom: 2em;
    margin-top: 2em;;
}
/* Country acknowledgement */
.acknowledgement {
    font-size: medium;
    width: 80%;
    margin: 6%;;
}
/* Music Production */
/* Vinyl records component */
.musicimage {
    transition: transform 2s;
}
.musicimage:hover {
    transform: rotate(180deg);
}
#returntoblog {
    margin: 3em;
}
/* Design */
.designimages {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    width: 30%;
    margin: 1em;
    border: solid black .05em;

}
.designcan {
    width: 30%;
    margin-bottom: 0%;
}
.lazydays {
    width: 40%;
    margin-bottom: 0%;
}
.designposter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    width: 80%;
    margin-bottom: 1em;
    margin: 1em;
    margin-top: 2em;
}
/* Mobile view */
@media screen and (max-width: 600px) {
    nav > a {
        font-size: small;
    }
    .blogimages {
        width: 75%;
    }
    .designimages {
        width: 70%;
    }
    .designcan {
        width: 70%;
    }
    .lazydays {
        width: 70%;
    }
}
/* Desktopview */
@media screen and (min-width: 600px) {
    .box {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
    nav {
        font-size: large;
    }
    .blogsection {
        width: 30dvw;
        
        min-width: 10dvw;
        /* min-height: 75dvh; */

    }
    main > p {
        font-size: large;
        margin-left: 3em;
        margin-right: 3em;
        row-gap: 1em;

    }
    h1 {
        font-size: xx-large;
    }
    main > img {
        width: 15dvw;
    }
    .projects {
        max-width: 30%;
        
        
    }
    address {
        margin: 4em;
        margin-bottom: 10%;
    }
    .projectslayout {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .skills {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 40%;
        min-width: 70%;
        
    }
    .musicimages {
        width: 60%;
    }
    .blogimages {
        max-width: 25%;
    }
    .acknowledgement {
        margin: 2%;
    }
    
    
}